<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="cube">
        <img src="static/img/correct.png" alt="">
        <h1>Formulário concluido com sucesso!</h1>
        <p>Muito Bem! coroinha {{ nome }}, vocẽ concluiu a inscrição, que São Tarcísio lhe abençoe. </p>
    </div>
</body>
</html>